<div class="contents">
  <div class="heading">
      <div class="title">
        <h1 class="title">Wish</h1>
      </div>
      <div class="search-box">
        <%= form_tag('/', method: :get) do %>
          <input type="search" class="text" name="keyword" value="" placeholder="">
          <input type="submit" value="検索">
        <% end %>
      </div>
  </div>
</div>

<div class="test">
<ul>
  <% if @search.present? %>
    <% @search.each do |name| %>
      <%= link_to(name) do %> 
        <li><p><%= name.name %></p></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
</div>
