<div class="contents">
<!-- <form>
<input type="search" class="text">
<input type="submit" value="検索">
</form> -->
</div>
<div>
</div>

<ul>
  <% if @search.present? %>
    <% @search.each do |name| %>
      <%= link_to(name) do %> 
        <li><p><%= name.name %><p></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
